
<article class="out-left" style="-webkit-transition: all {{delay}}s ease-in-out;-moz-transition: all {{delay}}s ease-in-out;-o-transition: all {{delay}}s ease-in-out;transition: all {{delay}}s ease-in-out;">
	<section>
		{{{content}}}
	</section>

	<section>
		<time class="centered">
			Posted {{posted}}
		</time>
	</section>
</article>
